.App {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.forms {
    display: flex;
    margin: 20px 330px;
    width: 800px;
    justify-content: space-between;
}

.lists {
    display: flex;
    margin: 15px 330px;
    justify-content: space-between;
}

.list {
    display: flex;
    flex-direction: column;

}
